.parent {
  display: flex;
  justify-content: space-between;
  /* Distributes space between child elements */
  align-items: stretch;
  /* Centers children vertically */
  min-width: 100%;
}

.left,
.right,
.center {
  display: flex;
  align-items: stretch;
  justify-content: left;
}

.parentVertical {
  display: flex;
  flex-direction: column;
  /* Arrange children in a column */
  justify-content: flex-start;
  /* Align items to the start of the container */
  padding: 0;
  margin: 0;
}

.top,
.bottom {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 0;
  /* No space between divs */
}

.modal {
  display: block;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 100000;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgba(29, 25, 25, 0.5);
  /* Black w/ opacity */
}

/* Modal content box */
.modal-content {
  margin: 2% auto;
  /* 15% from the top and centered */
  padding: 10px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
  border-radius: 8px;
  /* Rounded corners */
}

/* Close button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.codeMarker {
  background: #db4e07;
  position: absolute;
  z-index: 20;
}

.button {
  display: inline-block;
  text-align: right; /* Center text */
  text-decoration: none; /* Remove underline */
  border-radius: 5px; /* Rounded corners */
  font-size: 14px; /* Font size */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s; /* Smooth background color transition */
}

.button-text {
  position: absolute; /* Position the text absolutely */
  top: 10px; /* Distance from the top */
  right: 10px; /* Distance from the right */
  font-size: 16px; /* Font size */
  text-align: right; /* Align text to the right */
}

.treeNode:hover {
  background-color: cadetblue;
}

.treeCenter:hover {
  border-color: cornflowerblue;
  border-style: solid;
  border-width: 2px;
}

.movable:hover {
  cursor: grab;
}

.movable:active {
  cursor: grabbing;
}
